<div class="chatContainer">
  <h2>Últimos mensajes:</h2>
  <div class="messageLogsCont">
    <p id="messageLogs"></p>
  </div>
  <div class="chatBoxCont">
    <input id="chatBox" type="text"/>
    <input id="sendBtn" type="button" />
  </div>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/chat.js"></script>