<h1>Restablecer contraseña</h1>
<section id="recovForm">
    <div>
        <form action="" method="">
            <input type="password" class="recovInput" placeholder="Ingrese su nueva contraseña" name="newPassword" class="formInput">
            <br/>
            <input type="password" class="recovInput" placeholder="Ingrese nuevamente su nueva contraseña" name="repeatNewPassword" class="formInput">
            <br/>
            <br/>
            <button class="formBtn" type="submit">Cambiar contraseña</button>
        </form>
        <a href="/"><button class="formBtn">Volver al inicio de sesión</button></a>
    </div>    
</section>