<h1 class="productListTitle">Listado de Productos</h1>

<h4>Los productos agregados hasta el momento son:</h4>

<div class="productListContainer">
    <ul id="productList">
        
    </ul>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>