<h1>Ingresar</h1>
<section>
    <div>
        <form action="/api/users/auth" method="post">
            <input type="email" placeholder="Ingrese su email" name="email" class="formInput">
            <br/>
            <input type="password" placeholder="Ingrese su contraseña" name="password" class="formInput">
            <br/>
            <br/>
            <button type="submit">Ingresar</button>
        </form>
    </div>
</section>